<div class="container mt-3">
    <h1 class="mb-4">¡Bienvenido a las Novedades de Angular 17!</h1>
  
    <div class="card mb-4">
      <div class="card-header">
        <h2>Condicionales</h2>
      </div>
      <div class="card-body">
        <p>Los condicionales if y switch tienen una nueva sintaxis
            más intuitiva.
        </p>
        <a class="btn btn-info" [routerLink]="['/condicionales']">Ver ejemplos</a>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-header">
        <h2>Bucle for</h2>
      </div>
      <div class="card-body">
        <p>El bucle for también tiene una nueva sintaxis que mejora el rendimiento
            y te ofrece una condicion que revisa si una colección está vacía.
        </p>
        <a class="btn btn-info" [routerLink]="['/for']">Ver ejemplos</a>
      </div>
    </div>
  
    <div class="card mb-4">
      <div class="card-header">
        <h2>Vistas diferidas</h2>
      </div>
      <div class="card-body">
        <p>Las clases diferidas son como un lazy loading de una vista con solo
          una linea de codigo.
        </p>
        <a class="btn btn-info" [routerLink]="['/defer']">Ver ejemplos</a>
      </div>
    </div>
  
  </div>
  